<body>
  <!-- mat-toolbar needs to be refactored to be its own component so it can be reusable -->
  <mat-toolbar id="navbar" color="primary">
    <div id="nav-title">Simple Blog</div>
    <div id="nav-content">
      <a href="">Home</a>
      <a href="">Login</a>
      <a href="">Profile</a>
    </div>
  </mat-toolbar>
  <main>
    <!-- This should contain the router? So that it can be swapped out when navigating to multiple pages? -->
    Main content here!
    test
  </main>
</body>
<router-outlet></router-outlet>