<mat-toolbar id="navbar" color="primary">
  <div id="nav-title">
    <a href="/" aria-label="Simple Blog home page">Simple-Blog</a>
  </div>
  <div id="searchbar-container">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput type="text" [(ngModel)]="value" aria-label="Search">
      <span id="clear-search" *ngIf="value" aria-label="Clear" (click)="value=''">
        x
      </span>
    </mat-form-field>
    <button mat-icon-button color="accent" aria-label="Search button" id="search-btn">
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <div id="nav-content">
    <button mat-button color="accent" aria-label="Login">Login</button>
    <button mat-button color="accent" aria-label="Profile">Profile</button>
    <button mat-button color="accent">Admin</button>
  </div>
</mat-toolbar>
