#navbar
  display: flex
  justify-content: space-between
  #nav-title
    // ToDO: will need to be restyled in the future
    width: 200px
  #nav-content
    display: flex
    width: 200px
    justify-content: space-evenly
