#navbar
  // Space between everything in the navbar
  display: flex
  justify-content: space-between
  #nav-title
    border: 3px solid black
    border-radius: 10px
    width: 150px
    display: flex
    flex-direction: column
    align-items: center
    background-color: #d4cb20
    #heading-link
      text-decoration: none
      border-radius: 10px
      width: 100%
      height: 100%
      background: transparent
      font: inherit
      &:hover
        background-color: #d6cf42


  #searchbar-container
    display: flex
    height: 32px
    width: 245px
    // center search bar directly center
    position: relative
    left: 16px
    align-items: center
    justify-content: space-between
    #search-btn
      // center icon in button
      display: flex
      justify-content: center
      align-items: center
      border-radius: 20px
      height: 32px
      width: 32px
      background-color: var(--color-black-light)
  // Buttons on right side of navbar
  #nav-content
    display: flex
    width: 200px
    // Space buttons out evenly
    justify-content: space-evenly
