#profile-page
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  #profile-page-banner
    height: 20px
    background: red

  #profile-page-bio
    height: 20px
    background: yellow