#profile-page
  display: flex
  flex-direction: column
  justify-content: center
  #profile-page-banner
    display: flex
    justify-content: center
    align-items: center
    height: 25%
    width: 100%
    background-image: url('https://images.pexels.com/photos/1435752/pexels-photo-1435752.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2000')
    background-repeat: repeat-x
    img
      height: 150px
      width: 150px
      border-radius: 50%

  #profile-page-bio
    height: 75%
    background: yellow