<form>
  <div>
    <mat-form-field class="login-username-form-field" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" aria-label="Search">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="login-password-form-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="text" aria-label="Password">
      </mat-form-field>
  </div>
  <button id="login-form-btn" mat-button color="primary" type="submit" (click)="submitLogin()">Login</button>
</form>

