<form>
  <div>
    <mat-form-field id="signup-email-address-form-field" appearance="fill">
      <mat-label>Email Address</mat-label>
      <input matInput type="text" aria-label="Email Address">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field id="signup-username-form-field" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" aria-label="Username">
      </mat-form-field>
  </div>
  <div>
    <mat-form-field id="signup-password-form-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="text" aria-label="Password">
      </mat-form-field>
  </div>
  <button id="sign-up-form-btn" mat-button color="primary" type="submit" (click)="submitSignup()">Sign Up</button>
</form>