#main-home-content
  // Center all content in main-home-content
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  width: 100%
  background-color: var(--color-black)
  color: var(--color-white)
  #create-post-btn
    // Position create post button
    margin-top: 20px
    background-color: var(--color-white)
  section
    height: 100px
    width: 70%
    border-radius: 25px
    margin-top: 20px
    background-color: var(--color-white)
    color: var(--color-black)